*

body{
   background-color: #e9ebe9;
   font-family: 'texto', sans-serif;
   padding: 0px;
   margin: 0px;}
.topo{
   background-color: aqua;
   width: 50%; 
}
a{
   display: flex;
   color: rgb(0, 0, 0);
   font-size: larger;
   text-decoration: none;
}
.logo{
   width: 200px;
   margin-left: 20px;
   display: flex;
   text-align: start;
}
ul{
   display: flex; 
   list-style: none;
   margin: 20px;
   margin-right: 250px;
}
li{
   margin: 10px;
}
.header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
#produtos_txt{
   display: flex;
   justify-content: center;
   font-size: 22pt;  
   margin-top: 30px;
}
.button{
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: row;

}
.img_btn{
   display:flex;
   text-align: center;
   justify-content: center;
}
.img_btn img{
   width: 200px;
}
