*

body{
   background-color: #e9ebe9;
   font-family: 'texto', sans-serif;
   padding: 0px;
   margin: 0px;}
.topo{
   background-color: aqua;
   width: 50%; 
}
a{
   display: flex;
   color: rgb(0, 0, 0);
   font-size: larger;
   text-decoration: none;
}
.logo{
   width: 200px;
   margin-left: 20px;
   display: flex;
   text-align: start;
}
ul{
   display: flex; 
   list-style: none;
   margin: 20px;
   margin-right: 250px;
}
li{
   margin: 10px;
}
.footer{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
